<div class="row">
    <div class="col-12">
        This app was built using a MEAN stack. 
        
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">MongoDB</h3>
                <p class="card-text">MongoDB was used to store and fetch infomration</p>
                <a href="https://www.mongodb.com/" class="btn btn-primary">Mongo</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Express</h3>
                <p class="card-text">Express was used for hosting and REST Api</p>
                <a href="https://expressjs.com/" class="btn btn-primary">Express</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Angular</h3>
                <p class="card-text">Angular was app building framework</p>
                <a href="https://angular.io/" class="btn btn-primary">Angular</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Node.JS</h3>
                <p class="card-text">Node.js is the framework used to create this app.</p>
                <a href="https://nodejs.org/en/" class="btn btn-primary">Node</a>
            </div>
        </div>
    </div>
</div>